# Frontend Environment Variables

# API Base URL (Backend URL)
VITE_API_URL=http://localhost:8080

# Stripe Public Key (Get from https://stripe.com)
VITE_STRIPE_PK=pk_test_51SnytzPYZCWIRi43e2muewYjyOoqlei4RVzezAAvv4pI9EyGNH77axc2X4eceHz3HR23nCsjZNFgDsNaaCajVn3Y00gKvT6sHC
